/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */



#container {
	margin:0px auto;
	width:100%;
	background-color:white;
}



#top {
	margin: 0px auto;
	width:100%;
	position:relative;
}

#nav {
	position:absolute;
	top:25%;
	right:2%;

}

.menu {
	position:fixed;
	z-index:20;
}

.menu a {
	display:block;
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#B2D9D9;
	transition: background-color 500ms ease;

}

.menu li {
	margin-top:100%;
}

.menu a.selected {
	background-color: #1F5050;
}

#imageTop{
	width:100%;
}

#imageTopLeft {
	position:absolute;
	height:100%;
	top:0%;
	left:17%;
	opacity:0;
	transition: opacity 2s ease;
}

#imageTopLeft:hover {
	opacity:1;
}

#imageTopRight {
	position:absolute;
	height:100%;
	top:0%;
	left:50%;
	opacity:0;
	transition: opacity 2s ease;
}

#imageTopRight:hover {
	opacity:1;
}



#title {
	font-family: 'Cutive', serif;
	font-weight:400;
	font-size:55px;
	text-transform:uppercase;
	color:#3ea1a1;
	position:absolute;
	left:3%;
	top:450px;

}

#credit {
	position:absolute;
	right:3%;
	top:650px;
}


#leadIn {
	font-size:30px;
	line-height:1.6em;
	color:#3ea1a1;	
}


#twinStory1 {
	background-color:rgba(62, 161, 161, 0.5 );
	color:white;
	position:absolute;
	width:39%;
	left:-50%;
	top:68%;
	padding:3%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	line-height:2em;
	opacity:0;
}

#twinStory1.on-page {
	opacity:1;
	transition: opacity 4s ease;
}

#twinStory2 {
	background-color:rgba(62, 161, 161, 0.5);
	color:white;
	position:absolute;
	width:39%;
	right:-50%;
	top:51%;
	padding:3%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	line-height:2em;
	opacity:0;
}

#twinStory2.on-page {
	opacity:1;
	transition: opacity 4s ease;
}

#twinStory3 {
	background-color:rgba(62, 161, 161, 0.5);
	color:white;
	position:absolute;
	width:39%;
	left:-50%;
	top:29.5%;
	padding:3%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	line-height:2em;
	opacity:0;
}

#twinStory3.on-page {
	opacity:1;
	transition: opacity 4s ease;
}

#twinStory4 {
	background-color:rgba(62, 161, 161, 0.5);
	color:white;
	position:absolute;
	width:39%;
	right:-50%;
	top:25%;
	padding:3%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	line-height:2em;
	opacity:0;
}

#twinStory4.on-page {
	opacity:1;
	transition: opacity 4s ease;
}

#twinStory5 {
	background-color:rgba(62, 161, 161, 0.5);
	color:white;
	position:absolute;
	width:39%;
	left:-50%;
	top:31%;
	padding:3%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	line-height:2em;
	opacity:0;
}

#twinStory5.on-page {
	opacity:1;
	transition: opacity 4s ease;
}

#twinStory6 {
	background-color:rgba(62, 161, 161, 0.5);
	color:white;
	position:absolute;
	width:39%;
	right:-50%;
	top:37%;
	padding:3%;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:11px;
	line-height:2em;
	opacity:0;
}

#twinStory6.on-page {
	opacity:1;
	transition: opacity 4s ease;
}

.section {
	position:relative;
}

#imageLeft {
	position:absolute;
	width:45%;
	left:-50%;
	opacity:0;

}

#imageLeft.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageRight{
	position:absolute;
	width:45%;
	right:-50%;
	opacity:0;
}


#imageRight.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageLeft2 {
	position:absolute;
	width:45%;
	left:-50%;
	opacity:0;

}

#imageLeft2.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageRight2 {
	position:absolute;
	width:45%;
	right:-50%;
	opacity:0;
}


#imageRight2.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageLeft3 {
	position:absolute;
	width:45%;
	left:-50%;
	opacity:0;

}

#imageLeft3.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageRight3 {
	position:absolute;
	width:45%;
	right:-50%;
	opacity:0;
}


#imageRight3.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageLeft4 {
	position:absolute;
	width:45%;
	left:-50%;
	opacity:0;

}

#imageLeft4.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageRight4 {
	position:absolute;
	width:45%;
	right:-50%;
	opacity:0;
}


#imageRight4.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageLeft5 {
	position:absolute;
	width:45%;
	left:-50%;
	opacity:0;

}

#imageLeft5.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageRight5 {
	position:absolute;
	width:45%;
	right:-50%;
	opacity:0;
}


#imageRight5.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageLeft6 {
	position:absolute;
	width:45%;
	left:-50%;
	opacity:0;

}

#imageLeft6.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}

#imageRight6 {
	position:absolute;
	width:45%;
	right:-50%;
	opacity:0;
}


#imageRight6.on-page {
	opacity: 1;
	transition: opacity 4s ease;
}



#textBlock {
	margin:0px auto;
	width:50%;
	background-color:white;
	padding-left:5%;
	padding-right:5%;

}

.marta {
	top:43%;
}

.mirror {
	top:64%;
}

.curly {
	top:20%;
}


.mainText {
	font-family: 'PT Serif', serif;
	line-height: 1.75em;
	
}

#endCredit {
	font-family: 'PT Serif', serif;
	line-height: 1.65em;
	text-transform:italic;
	font-size:12px;
	padding-bottom:10%;
}


h2  {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:15px;
	line-height:1.75em;
	text-transform:uppercase;
	color:#3ea1a1;

}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size:20px;
	color:#3ea1a1;
	padding-top:3%;
	padding-bottom:1%;
	text-transform:uppercase;
	text-align:center;
}




